.page {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    min-height:100vh;
}

.page-top {
    display:flex;
    flex-direction: column;
    gap:2em;
}

* {
    position:relative
}

