body {
    margin:0;
    padding:0;
    display:flex;
    flex-direction: column;
    min-width: 90em;
    min-height:400vh;
}



body::before {
    content: '';
    position:absolute;
    top:0px;
    bottom: 0px;
    left: 0px;
    right:0px;
    background: url(../Static/background.png) fixed;
    background-size: cover;
    opacity:85%;

}

.main-content {
    display:flex;
    justify-content: space-around;
    padding: 0 1em 0 1em;
    gap:2em;
}


.main-content .left-side {
    display:flex;
    flex-direction: column;
    max-width:70em;
    min-width:60em;
    gap:1em;
    
}

.main-content .left-side .bubble {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius:1em;
    padding: 1em;
    border: solid 0.8em rgb(237, 147, 224);
    box-shadow: 1em 1em 2em;

}

/* .main-content .left-side .bubble:hover {
    box-shadow: 0.5em -0.5em 3em white;
} */
.main-content .left-side .title h1 {
    text-align: center;
    background-image: linear-gradient(to right, rgb(239, 136, 11), rgb(219, 12, 215) );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    zoom: 1.4;
}

.main-content .left-side .description {
    text-align: center;
}

.main-content .left-side .bubble2 table input {
    zoom:1.3;
}

.main-content .left-side .bubble2 .confirm-area {
    zoom:1.2;
    display:flex;
    justify-content: space-between;
}

.main-content .left-side .bubble2 .confirm-area .button-bubble {
    display:flex;
    align-items: center;
    justify-content: center;
    padding:1em;
    margin:1em;
    width:4em;
    height:2em;
    background-color: rgb(0, 136, 255);
    border-radius: 1em;
    color:white;
    font-weight: bold;
    font-size:1.2em;

}

.main-content .left-side .bubble3 table .subject {
    padding:10px;
    background-color: white;
}

.main-content .right-side {
    display:flex;
    flex-direction: column;
    max-width:23em;
    min-width:22em;
    margin-top:-1em;
    gap:1em;
}

.main-content .right-side .bubble {
    display:flex;
    flex-direction: column;
    border-radius: 1em;
    border: solid 0.8em antiquewhite;
    background-color: white;
    padding:1em;
    box-shadow: 1em 1em 2em;
}
.main-content .right-side .bubble1 p {
    text-align: center;
    zoom:1.3;
    font-style: italic;
}